<!--{% extends 'blog/base_blog.html' %}-->
<!--{% block content %}-->
<!--<div class="content-section">-->
<!--    <div class="container">-->
<!--        <div class="row text-center text-lg-start">-->
<!--            <div class="col-lg-3 col-md-4 col-6">-->
<!--            {% if object_detail %}-->
<!--                {% for obj in object_detail %}-->
<!--                        <img src="{{ obj.image }}" class="img-responsive img-fluid rounded" alt="{{ obj.image.title }}" style="width:100%"/>-->
<!--                        <div class="caption">-->
<!--                            <p><u>{{ obj.image.title }}</u></p>-->
<!--                        </div>-->
<!--                        <div class="caption">-->
<!--                            <a href="{% url 'gallery:user_gallery' obj.image.user.username %}">{{ obj.image.user }}</a>-->
<!--                        </div>-->
<!--                        <div class="caption">-->
<!--                            <p>{{ obj.description }}</p>-->
<!--                        </div>-->
<!--                {% endfor %}-->
<!--            {% endif %}-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--{% endblock content %}-->
