{% extends 'blog/base_blog.html' %}
{% block content %}
<h4 class="border-bottom mb-4">Gallery Photos ({{ page_obj.paginator.count }})</h4>
{% if user.is_authenticated %}
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'gallery:new_image_upload' %}">Upload</a>
{% endif %}
<div class="content-section">
    <div class="container">
        <div class="row text-center text-lg-start">
                {% if object_list %}
                    {% for image in object_list %}
                        <div class="col-lg-3 col-md-4 col-6">
                            <img src="{{ image.image.url }}" class="img-responsive img-thumbnail rounded" alt="{{ image.title }}" style="width:100%"/>
                            <div class="caption">
                                <p>{{ image.title }}</p>
                            </div>
                            <div class='mb-3'>
                                {% if image.user == user %}
                                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'gallery:image_delete' image.pk %}">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p style="color:blue">No image has been uploaded yet.</p>
                {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
