{% extends 'blog/base_blog.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <div class="form-group">
                {{ form|crispy }}<br>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Log In</button>
                <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">Forgot Password</a>
                </small>
            </div>
        </fieldset>
    </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need an Account? <a class="ml-2" href="{% url 'user:user-register' %}">Sign Up</a>
            </small>
        </div>
{% endblock content %}