<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Blog Page</title>
        {% endif %}
    {% endblock title %}
</head>
<body>
    {% block content %}
        {% for post in post_list %}
            <h2>{{ post.title }}</h2>
            <p style="color:blue">{{ post.author }}</p>
            <small class="text-muted">{{ post.publication_date }}</small>
            <p> {{ post.content }}</p>
        {% empty %}
            <p>No posts yet.</p>
        {% endfor %}
    {% endblock content %}
</body>
</html>